// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Apple M4 Mac mini, MacBook Air/Pro, iMac 24" (M4, 2024/2025)
 *
 * This file contains parts common to all Apple M4 devices using the t8132.
 *
 * target-type: J604, J623, J624, J713, J715, J773g
 *
 * Copyright The Asahi Linux Contributors
 */

/ {
	aliases {
		atcphy0 = &atcphy0;
		atcphy1 = &atcphy1;
		atcphy2 = &atcphy2;
		atcphy3 = &atcphy3;
		bluetooth0 = &bluetooth0;
		dcp = &dcp;
		dcpext0 = &dcpext0;
		dcpext1 = &dcpext1;
		disp0 = &display;
		disp0_piodma = &disp0_piodma;
		dispext0_piodma = &dispext0_piodma;
		dispext1_piodma = &dispext1_piodma;
		serial0 = &serial0;
		wifi0 = &wifi0;
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		stdout-path = "serial0";

		framebuffer0: framebuffer@0 {
			compatible = "apple,simple-framebuffer", "simple-framebuffer";
			reg = <0 0 0 0>; /* To be filled by loader */
			/*
			 * ps_disp_cpu is firmware-owned and disabled on T8132. A
			 * reference to it holds simpledrm back until the deferred
			 * probe timeout, so the panel stays blank for the first
			 * 16 seconds of boot.
			 */
			power-domains = <&ps_disp_fe>, <&ps_dptx_phy>;
			/* Format properties will be added by loader */
			status = "disabled";
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		/* To be filled by loader */
	};

	memory@800000000 {
		device_type = "memory";
		reg = <0x8 0 0x2 0>; /* To be filled by loader */
	};

	vreg_pcie0_port0: regulator-pcie0-port0 {
		compatible = "regulator-fixed";
		regulator-name = "pwren-pcie0-port0";
		gpio = <&smc_gpio 19 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&serial0 {
	status = "okay";
};

/* USB */

/*
 * All models have at least these two ports.
 * Additional ports are added in t8132-j{604,624,773g}.dts respectively.
 */

&nub_spmi_a0 {
	hpm0: usb-pd@c {
		compatible = "apple,sn201202x";
		reg = <0xc SPMI_USID>;
		interrupts = <11 IRQ_TYPE_EDGE_RISING>,
			<13 IRQ_TYPE_EDGE_RISING>,
			<17 IRQ_TYPE_EDGE_RISING>,
			<19 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "irq", "select", "sleep", "wake";

		typec0: connector {
			label = "USB-C Left-front";
			compatible = "usb-c-connector";
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					typec0_connector_hs: endpoint {
						remote-endpoint = <&dwc3_0_hs>;
					};
				};
				port@1 {
					reg = <1>;
					typec0_connector_ss: endpoint {
						remote-endpoint = <&atcphy0_typec_lanes>;
					};
				};
			};
		};
	};

	hpm1: usb-pd@a {
		compatible = "apple,sn201202x";
		reg = <0xa SPMI_USID>;
		interrupts = <37 IRQ_TYPE_EDGE_RISING>,
			<39 IRQ_TYPE_EDGE_RISING>,
			<43 IRQ_TYPE_EDGE_RISING>,
			<45 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "irq", "select", "sleep", "wake";

		typec1: connector {
			label = "USB-C Left-back";
			compatible = "usb-c-connector";
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					typec1_connector_hs: endpoint {
						remote-endpoint = <&dwc3_1_hs>;
					};
				};
				port@1 {
					reg = <1>;
					typec1_connector_ss: endpoint {
						remote-endpoint = <&atcphy1_typec_lanes>;
					};
				};
			};
		};
	};
};

&dwc3_0 {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			dwc3_0_hs: endpoint {
				remote-endpoint = <&typec0_connector_hs>;
			};
		};
		port@1 {
			reg = <1>;
			dwc3_0_ss: endpoint {
				remote-endpoint = <&atcphy0_usb3>;
			};
		};
	};
};

&dwc3_1 {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			dwc3_1_hs: endpoint {
				remote-endpoint = <&typec1_connector_hs>;
			};
		};
		port@1 {
			reg = <1>;
			dwc3_1_ss: endpoint {
				remote-endpoint = <&atcphy1_usb3>;
			};
		};
	};
};

&atcphy0 {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			atcphy0_typec_lanes: endpoint {
				remote-endpoint = <&typec0_connector_ss>;
			};
		};

		port@1 {
			reg = <1>;
			atcphy0_usb3: endpoint {
				remote-endpoint = <&dwc3_0_ss>;
			};
		};
	};
};

&atcphy1 {
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			atcphy1_typec_lanes: endpoint {
				remote-endpoint = <&typec1_connector_ss>;
			};
		};

		port@1 {
			reg = <1>;
			atcphy1_usb3: endpoint {
				remote-endpoint = <&dwc3_1_ss>;
			};
		};
	};
};

/*
 * Force the bus number assignments so that we can declare some of the
 * on-board devices and properties that are populated by the bootloader
 * (such as MAC addresses).
 */
&port00 {
	power-supply = <&vreg_pcie0_port0>;
	bus-range = <1 1>;
	wifi0: wifi@0,0 {
		compatible = "pci14e4,4434";
		reg = <0x10000 0x0 0x0 0x0 0x0>;
		/* To be filled by the loader */
		local-mac-address = [00 00 00 00 00 00];
		apple,antenna-sku = "XX";
	};

	bluetooth0: bluetooth@0,1 {
		compatible = "pci14e4,5f72";
		reg = <0x10100 0x0 0x0 0x0 0x0>;
		/* To be filled by the loader */
		local-bd-address = [00 00 00 00 00 00];
	};
};
